name: Docker-CI-Pipeline
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Depedencies
        run: |
          pip3 install -r requirements.txt
          echo "Dependency installations complete..."
      - name: Build Docker image
        run: |
          docker build -t knightx176/flaskapp .
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
          docker push knightx176/flaskapp

      

